<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secure Web App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-divider@0.2.0/dist/css/bulma-divider.min.css" />

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="~/dist/bundle.js"></script>
    <script src="~/dist/runtime.js"></script>
    <script src="~/dist/vendors.js"></script>

</head>
<body>

    <header>

        <nav class="navbar">
            <div class="container">

                <div class="navbar-brand">

                    <a class="navbar-item" href="../">
                        <img src="~/images/app-logo.png" alt="Logo" width="112" height="80">
                    </a>

                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>

                </div>

                <div id="navbarMenu" class="navbar-menu">

                    <div class="navbar-end">

                        <div class="navbar-item">
                            <div id="Handle_Buttons" class="buttons"></div>
                        </div>

                    </div>

                </div>

            </div>
        </nav>

    </header>

    <div class="container">

        <main role="main" class="">
            @RenderBody()
        </main>

    </div>

    <footer class="footer">

        <div class="content has-text-centered">
            Example of web application in NET Core 3.1, the source code is available at <a href="https://github.com/TomaszKandula/SecureWebAapp">GitHub</a>.
        </div>

    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
