<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - SecureWebApp</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Scripts -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>

    <header>

    </header>

    <div class="">

        <main role="main" class="">
            @RenderBody()
        </main>

    </div>

    <footer class="">

        <div class="">
            &copy; 2020 - SecureWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>

    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
