@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="section">

    <div class="container">

        <h1 class="title">
            Content
        </h1>

        <p class="subtitle">
            Content
        </p>

    </div>

</section>
